<% if !params[:start_date].to_s.empty? && !params[:end_date].to_s.empty? %>
  <b> Service Tax details between :
      <%= display_verbose_date(params[:start_date]) %>  &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= display_verbose_date(params[:end_date]) %>
  </b>
<% end %>

<table class="printBankTable table-bordered table-striped">
  <thead>
  <tr>
    <th><strong>Sl No</strong></th>
    <th><strong>Invoice Number</strong></th>
    <th><strong>Invoice Date</strong></th>
    <th><strong>Name</strong></th>
    <th><strong>Event Total</strong></th>
    <th><strong>Service Tax</strong></th>
  </tr>
  </thead>

  <tbody>
  <% @bank.each_with_index do |b, index| %>
      <tr>
        <td class="alignCenter" width=40px;><%= index + 1 %></td>
        <td class="alignCenter" width=90px;><%= b[:invoice_number] %></td>
        <td class="alignCenter" width=90px;><%= display_date(b[:invoice_raised_date]) %></td>
        <td width=300px;><%= get_company_name_by_client_id(b[:client_id]) %></td>
        <td class="alignRight" width=100px;><%= get_total_price_by_quotation_id(b[:id]) %></td>
        <td class="alignRight" width=100px;><%= b[:service_tax] %></td>
      </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td><b> Total: </b></td>
    <td class="alignRight"><b><%= @bank.sum(&:total_price) %></b></td>
    <td class="alignRight"><b><%= @bank.sum(&:service_tax) %></b></td>
  </tr>

  </tbody>
</table>