<div class="belowHeader">

    <%= form_for(@incoming_service_tax) do |f| %>
      <% if @incoming_service_tax.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@incoming_service_tax.errors.count, "error") %> prohibited this incoming_service_tax from being saved:</h2>

          <ul>
          <% @incoming_service_tax.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
          </ul>
        </div>
      <% end %>

        <ul class="field_container">
            <li>
                <%= f.label :invoice_number %>
                <%= f.text_field :invoice_number %>
            </li>
            <li>
                <%= f.label :invoice_date %>
                <% if @incoming_service_tax.invoice_date.nil? %>
                    <%= f.text_field :invoice_date, placeholder: 'Invoice Date'  %>
                <%else%>
                    <%= f.text_field :invoice_date, :value => display_date(@incoming_service_tax.invoice_date), :placeholder => 'Invoice Date'  %>
                <%end%>

            </li>
            <li>
                <%= f.label :client_id %>
                <%= f.select(:client_id, options_for_select(get_all_sorted_companies, @incoming_service_tax.client_id.nil? ? 1 : @incoming_service_tax.client_id)) %>
            </li>
            <li>
                <%= f.label :description %>
                 <%= f.text_field :description %>
            </li>
            <li>
                <%= f.label :event_total %>
                <%= f.text_field :event_total %>
            </li>
            <li>
                <%= f.label :cgst %>
                <%= f.text_field :cgst %>
            </li>

            <li>
                <%= f.label :sgst %>
                <%= f.text_field :sgst %>
            </li>

            <li>
                <%= f.label :service_tax %>
                <%= f.text_field :service_tax %>
            </li>

        </ul>

        <div class="actions">
          <%= f.submit %>
        </div>

        <script>
            $('#incoming_service_tax_invoice_date').datepicker({format: 'dd-mm-yyyy', autoclose:true, todayHighlight:true, clearBtn:true})
        </script>

    <% end %>
</div>
