
<div class="header">
  <h1 class="col-md-6 col-md-offset-2">Input GST</h1>
</div>

<div class="belowHeader">

  <div class="headerAfter">
    <h2><%= link_to '+ Input GST', new_incoming_service_tax_path, class: :new%></h2>
  </div>

    <p>Please enter both start and end dates:</p>
    <%= form_tag({}, {class: 'form-inline', method: 'get'}) do %>
        <%= text_field_tag :start_date, params[:start_date], class: 'form-control', placeholder: 'Start Date' %>
        <%= text_field_tag :end_date, params[:end_date], class: 'form-control', placeholder: 'End Date' %>
        <%= submit_tag 'Search', name: nil  %>
    <% end %>


    <% if !@incoming_service_taxes.nil? %>

        <br>
        <p>
          <% if Date.parse(params[:start_date]) >= Date.new(2017, 7, 1)%>
                Incoming GST details between :
          <%else%>
              Incoming Service tax details between :
          <%end%>
          <b>
            <%= display_verbose_date(params[:start_date]) %>  &nbsp;&nbsp;|&nbsp;&nbsp;
            <%= display_verbose_date(params[:end_date]) %>
          </b>
        </p>

    <table class="table gridData table-condensed table-striped table-bordered">
      <thead>
        <tr>
          <th><strong>Sl No</strong></th>
          <th><strong>Invoice Number</strong></th>
          <th><strong>Invoice Date</strong></th>
          <th><strong>Company Name</strong></th>
          <th><strong>Description</strong></th>
          <th><strong>Event Total</strong></th>
          <% if Date.parse(params[:start_date]) >= Date.new(2017, 7, 1)%>
              <th><strong>CGST</strong></th>
              <th><strong>SGST</strong></th>
          <%else%>
              <th><strong>Service Tax</strong></th>
          <%end%>
        </tr>
      </thead>

      <tbody>
        <% @incoming_service_taxes.each_with_index do |i, index| %>
      <tr>
            <td><%= index + 1 %></td>
            <td><%= i.invoice_number %></td>
            <td><%= display_date(i[:invoice_date]) %></td>
            <td>
              <% if !i.client_id.nil? %>
                  <%= get_company_name_by_client_id(i.client_id) %>
              <% end %>
            </td>
            <td><%= i.description %></td>
            <td class="alignRight"><%= i.event_total %></td>

        <% if Date.parse(params[:start_date]) >= Date.new(2017, 7, 1)%>
            <td class="alignRight"><%= i.cgst %></td>
            <td class="alignRight"><%= i.sgst %></td>
        <%else%>
            <td class="alignRight"><%= i.service_tax %></td>
        <%end%>

            <td><%= link_to 'Details', i, class: :info %></td>
          </tr>
        <% end %>
        <tr>
          <td></td>
          <td></td>
          <td></td>
          <td></td>
          <td><b> Total: </b></td>
          <td class="alignRight"><b><%= @incoming_service_taxes.sum(&:event_total) %></b></td>

          <% if Date.parse(params[:start_date]) >= Date.new(2017, 7, 1)%>
              <td class="alignRight"><b><%= @incoming_service_taxes.sum(&:cgst) %></b></td>
              <td class="alignRight"><b><%= @incoming_service_taxes.sum(&:sgst) %></b></td>
          <%else%>
                <td class="alignRight"><b><%= @incoming_service_taxes.sum(&:service_tax) %></b></td>
          <%end%>
        </tr>

    <% end %>


    </tbody>
    </table>

    <p>
      <%= link_to 'Print PDF', :controller => 'incoming_service_taxes', :action => 'print', :format => 'pdf', :start_date => params[:start_date], :end_date => params[:end_date]%>
    </p>
</div>

    <script>
        $('#start_date').datepicker({format: 'dd-mm-yyyy', autoclose: true, todayHighlight: true, clearBtn: true})
        $('#end_date').datepicker({format: 'dd-mm-yyyy', autoclose: true, todayHighlight: true, clearBtn: true})
    </script>

