<div class="header">
  <h1 class="col-md-6 col-md-offset-2 companyName">Incoming Service Taxes</h1>
</div>

<div class="belowHeader">

  <p class="headerAfter">
  <br>
  <% if policy(@incoming_service_tax).update? %>
      <%= link_to 'Edit details', edit_incoming_service_tax_path(@incoming_service_tax), class: :edit, style: 'color:white'%>
  <%end%>
  </p>
  <br><br>


  <table class="table table-bordered table-hover">

    <tbody>
    <tr>
      <td class="gray"><strong>Invoice number:</strong></td>
      <td><%= @incoming_service_tax.invoice_number %></td>
    </tr>
    <tr>
      <td class="gray"><strong>Invoice date:</strong></td>
      <td><%= @incoming_service_tax.invoice_date %></td>
    </tr>
    <tr>
      <td class="gray"><strong>Company name:</strong></td>
      <td>
        <% if !@incoming_service_tax.client_id.nil? %>
            <%= get_company_name_by_client_id(@incoming_service_tax.client_id) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td width=200px; class="gray"><strong>Description:</strong></td>
      <td><%= @incoming_service_tax.description %></td>
    </tr>
    <tr>
      <td class="gray"><strong>Event total:</strong></td>
      <td><%= @incoming_service_tax.event_total %></td>
    </tr>
    <tr>
      <td class="gray"><strong>SERVICE TAX:</strong></td>
      <td><%= @incoming_service_tax.service_tax %></td>
    </tr>
    <tr>
      <td class="gray"><strong>CGST:</strong></td>
      <td><%= @incoming_service_tax.cgst %></td>
    </tr>
    <tr>
      <td class="gray"><strong>SGST:</strong></td>
      <td><%= @incoming_service_tax.sgst %></td>
    </tr>
  </table>

  <%= link_to 'Back', incoming_service_taxes_path %>
  <br><br>
    <% if policy(@incoming_service_tax).destroy? %>
        <%= button_to 'X', @incoming_service_tax, method: :delete, data: { confirm: 'Are you sure?' }, class: 'deleteBtn' %>
    <%end%>

</div>