<div class="header">
  <h1 class="col-md-6 col-md-offset-2 companyName">Incoming Service Taxes</h1>
  <div><h2 class="col-md-4 col-md-offset-0"><%=get_user_and_date%></h2></div>
</div>

<div class="belowHeader">
    <p id="notice"><%= notice %></p>

  <table class="table table-striped">
    <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    </thead>

    <tbody>
    <tr>
      <td><strong>Invoice number:</strong></td>
      <td><%= @incoming_service_tax.invoice_number %></td>
    </tr>
    <tr>
      <td><strong>Invoice date:</strong></td>
      <td><%= @incoming_service_tax.invoice_date %></td>
    </tr>
    <tr>
      <td><strong>Company name:</strong></td>
      <td>
        <% if !@incoming_service_tax.client_id.nil? %>
            <%= get_company_name_by_client_id(@incoming_service_tax.client_id) %>
        <% end %>
      </td>
    </tr>
    <tr>
      <td><strong>Description:</strong></td>
      <td><%= @incoming_service_tax.description %></td>
    </tr>
    <tr>
      <td><strong>Event total:</strong></td>
      <td><%= @incoming_service_tax.event_total %></td>
    </tr>
    <tr>
      <td><strong>SERVICE TAX:</strong></td>
      <td><%= @incoming_service_tax.service_tax %></td>
    </tr>
  </table>

  <%= link_to 'Back', incoming_service_taxes_path %>
  <br><br>
    <% if policy(@incoming_service_tax).update? %>
        <%= link_to 'Edit', edit_incoming_service_tax_path(@incoming_service_tax), class: :edit, style: 'color:white'%>
    <%end%>
  <br><br>
    <% if policy(@incoming_service_tax).destroy? %>
        <%= button_to 'Destroy', @incoming_service_tax, method: :delete, data: { confirm: 'Are you sure?' }, class: 'deleteBtn' %>
    <%end%>

</div>