<script>
    $(function() {
        $('.editable-select').editableSelect(
                {
                    bg_iframe: true,
                    onSelect: function(list_item) {
                    },
                    case_sensitive: false, // If set to true, the user has to type in an exact
                    // match for the item to get highlighted
                    items_then_scroll: 10 // If there are more than 10 items, display a scrollbar
                }
        );
    });
  </script>

<%= form_for([@quotation, @item_detail]) do |f| %>
  <% if flash[:notice] %>
    <div id="notice"><i>* <%= flash[:notice] %></i></div> <br>
  <% end %>

  <% if @item_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item_detail.errors.count, "error") %> prohibited this item_detail from being saved:</h2>

      <ul>
        <% @item_detail.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="field_container">
    <li>
      <%= f.label :particulars %>
      <%= f.select :particulars, options_for_select(get_all_sorted_particulars, @item_detail.particulars), { :include_blank=>true }, { :class => 'editable-select'}%>
    </li>
    <li>
      <%= f.label :quantity %>
      <%= f.text_field :quantity %>
    </li>
    <li>
      <%= f.label :days %>
      <%= f.text_field :days %>
    </li>
    <li>
      <%= f.label :unit_price %>
      <%= f.text_field :unit_price %>
    </li>
    <li>
      <%= f.label :vendor_id, 'Vendor' %>
      <%= f.select(:vendor_id, options_for_select(get_all_sorted_companies, @item_detail.vendor_id.nil? ? 0 : @item_detail.vendor_id), { :include_blank => true }, prompt: 'Select Vendor') %>
    </li>
    <li>
      <%= f.label :vendor_quantity, 'Vendor Quantity' %>
      <%= f.text_field :vendor_quantity %>
    </li>
    <li>
      <%= f.label :vendor_price, 'Vendor Price' %>
      <%= f.text_field :vendor_price %>
    </li>
  </ul>

  <div class="actions">
    <%= f.submit %>
    <%= link_to 'Back To Quotation', quotation_item_details_path(@quotation.id) %>
  </div>

<% end %>
