<h1>Quotation Details</h1>

<p>
  Client name: <%= @quotation.client.name %>
</p>
<p>
  Client address: <%= @quotation.client.address %>
</p>
<p>
  Quotation: <%= @quotation.name %>
</p>
<p class="status">
  Status: <%= @quotation.status %>
</p>
<p>
  Event Date: <%= @quotation.event_date %>
</p>
<br/>
<p>
  <%= link_to 'Edit Quotation details', edit_quotation_path(@quotation) %>
</p>
<br/>

<table class="table table-condensed table-striped table-bordered">
  <thead>
  <tr>
    <th>Sl. No.</th>
    <th>Particulars</th>
    <th>Quantity</th>
    <th>Price</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @item_details.each_with_index do |item_detail, index| %>
    <tr>
      <td><%= index + 1 %></td>
      <td><%= item_detail.particulars %></td>
      <td><%= item_detail.quantity %></td>
      <td><%= item_detail.price %></td>
      <td><%= link_to 'Edit', edit_quotation_item_detail_path(@quotation, item_detail) %></td>
      <td><%= link_to 'Delete', [@quotation, item_detail], method: :delete, data: {confirm: 'Are you sure?'} %></td>
    </tr>
  <% end %>
  <tr>
    <td>Total:</td>
    <td></td>
    <td><%= number_to_currency(@quotation.total_price, locale: :in) %></td>
  </tr>
  </tbody>
</table>

<p><%= link_to 'New Item detail', new_quotation_item_detail_path(@quotation) %></p>
<%= link_to 'Back to all Quotations', quotations_path %> |
<%= link_to 'Back to all Clients', clients_path %>
