<div class="header">
  <h1><%= @quotation.status == INVOICE ? 'Invoice Details' : 'Quotation Details' %>
  </h1>

  <div class="nav">
    <h2>
      <b class='<%= @quotation.status %>'>Status : <%= @quotation.status %></b>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;[ &nbsp;

      <%= link_to 'Payments', :controller => 'payments', :action => 'index', :client_id => @quotation.client.id, :company_name => @quotation.client.company_name %>
        &nbsp; | &nbsp;
        <%= link_to 'Ledger', client_ledgers_path(@quotation.client)%>
        &nbsp; | &nbsp;
        <%= link_to 'Edit', edit_quotation_path(@quotation)%> &nbsp; ]</h2>


  </div>
</div>


<table class="table">
  <tr>
    <td><strong>Client name & Address:</strong></td>
    <td><%= @quotation.client.company_name %>
      <br><%= @quotation.client.address %></td>
  </tr>

  <tr>
    <td><strong>Event name and Venue:</strong></td>
    <td><%= @quotation.event_name %>
      <br><%= @quotation.venue %></td>
  </tr>

  <tr>
    <td><strong>Duration:</strong></td>
    <td><b><%= @quotation.event_date.strftime("%d/%m/%Y")%></b> for <b><%= @quotation.days || 1 %></b> day(s)</td>
  </tr>

  <tr>
    <td><strong>Invoice Type:</strong></td>
    <td><%= @quotation.invoice_type %></td>
  </tr>
  <tr>
    <% if @quotation.is_a_complete_invoice? %>
      <td><strong>Invoice Number:</strong></td>
      <td><%= @quotation.invoice_number %></td>
    <% end %>
  </tr>
</table>
<br/>

<div class="row">
  <div class="col-md-8">
    <table class="table table-condensed table-striped table-bordered">
      <thead>
      <tr>
        <th><strong>Sl. No.</strong></th>
        <th><strong>Particulars</strong></th>
        <th><strong>Quantity</strong></th>
        <th><strong>Days</strong></th>
        <th><strong>Price</strong></th>
      </tr>
      </thead>

      <tbody>
      <% @item_details.each_with_index do |item_detail, index| %>
        <tr>
          <td><%= index + 1 %></td>
          <td><%= item_detail.particulars %></td>
          <td><%= item_detail.quantity %></td>
          <td><%= item_detail.days %></td>
          <td><%= item_detail.price %></td>

          <% if @quotation.status != INVOICE %>
            <td><%= link_to 'Edit', edit_quotation_item_detail_path(@quotation, item_detail), class: 'edit' %></td>
            <td><%= button_to 'Delete', [@quotation, item_detail], {:onclick => "return confirm('WARNING : Are you sure to DELETE this Item ? You will not be able to UnDo this')", method: :delete} %></td>
          <% end %>

        </tr>
      <% end %>

      <% if @quotation.is_a_complete_invoice? %>
        <tr>
          <td></td>
          <td>Service Tax</td>
          <td></td>
          <td></td>
          <td><%= @quotation.service_tax %></td>
        </tr>
      <% end %>

      <tr>
        <td><strong>Total:</strong></td>
        <td></td>
        <td></td>
        <td></td>
        <td><%= @quotation.total_price %></td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-3 cold-md-offset-1">
    <table class="table table-condensed table-striped table-bordered col-md-3 col-md-offset-1">
      <thead>
      <tr>
        <th><strong>Vendor</strong></th>
        <th><strong>Amount</strong></th>
      </tr>
      </thead>
      <tbody>
      <% @item_details.each_with_index do |item_detail| %>
        <tr>
          <td><%= item_detail.vendor ? item_detail.vendor.company_name : '-' %></td>
          <td><%= item_detail.vendor ? item_detail.vendor_price : '' %></td>
        </tr>
      <% end %>
      </table>
  </div>
</div>

<p>
  <% if @quotation.is_open_for_edits? %>
    <%= link_to 'New Item detail', new_quotation_item_detail_path(@quotation), class: 'default' %>
  <% end %>
  <%= link_to 'Print', quotation_print_quotations_path(@quotation), class: 'default' %>
</p>
