<div class="header">
  <h1  class="col-md-6 col-md-offset-2 companyName"><%= @quotation.client.company_name %>
    &nbsp;<b class='<%= @quotation.status %>' style="font-size: 15px;">Status : <%= @quotation.status %></b> </h1>
  </h1>

  <div><h2 class="col-md-4 col-md-offset-0"><%= current_user.email %> | <%=display_verbose_date(DateTime.now)%></h2></div>
</div>


<ul class="belowHeader nav nav-tabs nav-tabs-ul">
  <% if @quotation.status == STATUS_INVOICE %>
      <li><h3>Invoice  Details &nbsp;&nbsp;&nbsp;&nbsp;</h3></li>
  <% else %>
      <li><h3>Quotation Details &nbsp;&nbsp;&nbsp;&nbsp;</h3></li>
  <% end %>

  <li class="#"><%= link_to 'Home', client_path(@quotation.client.id) %></li>
  <li class="#"><%= link_to 'Quotations', quotations_path(:client_id => @quotation.client.id, :status => [STATUS_PENDING, STATUS_CONFIRMED, STATUS_CLOSED])%></li>
  <li class="#"><%= link_to 'Invoices', quotations_path(:client_id => @quotation.client.id, :status => [STATUS_INVOICE])%></li>
  <li class="#"><%= link_to 'Payments', payments_path(:client_id => @quotation.client.id, :company_name => @quotation.client.company_name)%></li>
  <li class="#"><%= link_to 'Ledger', client_ledgers_path(@quotation.client.id)%></li>
</ul>


<div class="headerAfter">
  <% if @quotation.is_open_for_edits(current_user) %>
      <h2 class="headerAfter"><%= link_to 'Edit Quotation', edit_quotation_path(@quotation), class: 'edit', :style => 'color:white'%></h2>
  <%end%>

</div>
<br>

<div class="row"><br>
  <div class="col-md-7">
      <table class="table table-condensed table-striped table-bordered col-md-offset-0">
          <tr>
            <td><strong>Client Address:</strong></td>
            <td><%= @quotation.client.address %></td>
          </tr>
          <tr>
            <td><strong>Event name and Venue:</strong></td>
            <td><%= @quotation.event_name %>
              <br><%= @quotation.venue %></td>
          </tr>
          <tr>
            <td><strong>Duration:</strong></td>
            <td><b><%= display_date(@quotation.event_date) %></b> for <b><%= @quotation.days || 1 %></b> day(s)</td>
          </tr>
          <tr>
            <td><strong>Order Placed By:</strong></td>
            <td><%= @quotation.order_placed_by%></td>
          </tr>

      </table>
    </div>

  <div class="col-md-5 col-md-offset-0">
    <table class="table table-condensed table-striped table-bordered col-md-5 col-md-offset-0">
      <tr>
        <td><strong>Invoice Type:</strong></td>
        <td><%= @quotation.invoice_type %></td>
      </tr>

      <% if @quotation.is_a_complete_tax_invoice? || @quotation.is_a_complete_tax_exempted_invoice?%>
          <tr>
              <td><strong>Invoice Number:</strong></td>
              <td><%= @quotation.invoice_number %></td>
          </tr>
      <% end %>

      <tr>
        <td><strong>Invoice Raised By:</strong></td>
        <td><%= @quotation.invoice_raised_by %></td>
      </tr>

      <tr>
        <td><strong>Notes:</strong></td>
        <td><%= @quotation.notes %></td>
      </tr>

    </table>
  </div>



  </div>

<div class="row">
  <div class="col-md-8">
    <table class="table table-condensed gridData table-striped table-bordered">
      <thead>
      <tr>
        <th nowrap><strong>Sl. No.</strong></th>
        <th><strong>Particulars</strong></th>
        <th><strong>Quantity</strong></th>
        <th><strong>Days</strong></th>
        <th><strong>Price</strong></th>
      </tr>
      </thead>

      <tbody>


      <% @item_groups.each_with_index do |(item_group_name, items), index| %>
          <%if item_group_name != 'Others:' %>
            <%= render :partial => 'item_details/item_detail_group_view', :locals => {:item_group_name => item_group_name, :items => items, :index => index} %>
          <% end %>
      <%end%>
      <%unless @item_groups['Others:'].nil? %>
        <%= render :partial => 'item_details/item_detail_group_view', :locals => {:item_group_name => 'Others:', :items => @item_groups['Others:'], :index => @item_groups.count - 1 } %>
      <% end %>

      <tr>
        <td></td><td><strong>Total:</strong></td><td></td><td></td>
        <td class="alignRight"><b><%= number_with_precision(@quotation.total_item_price, :precision => 2) %></b></td>
      </tr>


      <% if @quotation.is_a_complete_tax_invoice? || @quotation.is_a_complete_tax_exempted_invoice?%>
        <tr>
          <td></td><td>Service Tax @ 12%</td><td></td><td></td>
          <td class="alignRight"><%= @quotation.service_tax_at_12_percent %></td>
        </tr>
          <tr>
            <td></td><td>Education Cess @ 2% (On S.T)</td><td></td><td></td>
            <td class="alignRight"><%= @quotation.education_cess %></td>
        </tr>
        <tr>
            <td></td><td>Sec. & Higher Edu. Cess @ 1% (On S.T)</td><td></td><td></td>
            <td class="alignRight"><%= @quotation.higher_education_cess %></td>
        </tr>
          <tr>
            <td></td><td><strong>Total with taxes (rounded off):</strong></td><td></td><td></td>
            <td class="alignRight"><b><%= number_with_precision(@quotation.total_price, :precision => 2) %></b></td>
          </tr>

      <% end %>

      </tbody>
    </table>
  </div>
</div>



  <% if @quotation.is_open_for_edits(current_user) %>
    <p><%= link_to 'New Item detail', new_quotation_item_detail_path(@quotation), class: 'default' %></p>
  <% end %>

<hr style="border-width: 1px 0 0; width: 100%; border-color: darkgray">

<div class="col-md-4 cold-md-offset-1">

  <p>
    <%= link_to 'Print PDF', :controller => 'item_details', :action => 'print', :format => 'pdf', :quotation_id => @quotation.id%>

    <% if @quotation.is_a_complete_tax_invoice?  or @quotation.is_a_complete_tax_exempted_invoice?%>
      <p><%= link_to 'Print PDF With Bank', :controller => 'item_details', :action => 'print', :format => 'pdf', :quotation_id => @quotation.id, :bank => true%></p>
  <% end %>

  </p>

</div>

<ul>
    <% if @quotation.status == STATUS_INVOICE  && @quotation.payment_received_in_full.nil? %>
        <li class="headerAfter"><%= button_to 'Mark As Payments Fully Received', {controller: 'quotations', action: 'markAsPaymentsFullyReceived', :quotation_id => @quotation.id}, {:onclick => "return confirm('WARNING : Are you sure if full payments are made ?')"} %></li>
        <br><br>
    <% end %>
    <li class="headerAfter"><%= button_to 'Duplicate This Quotation', controller: 'quotations', action: 'duplicate', :quotation_id => @quotation.id %></li>
</ul>

<br><br>


<hr style="border-width: 3px 0 0; width: 100%; border-color: darkgray">
<br>


