<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item_detail.name %>
</p>

<p>
  <strong>Particulars:</strong>
  <%= @item_detail.particulars %>
</p>

<p>
  <strong>Days:</strong>
  <%= @item_detail.days %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item_detail.price %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @item_detail.quantity %>
</p>

<%= link_to 'Edit', edit_quotation_item_detail_path(@quotation, @item_detail) %> |
<%= link_to 'Back', quotation_item_details_path(@quotation) %>
