<% if !params[:start_date].to_s.empty? && !params[:end_date].to_s.empty? %>
  <b> Incoming Service Tax details between :
      <%= display_verbose_date(params[:start_date]) %>  &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= display_verbose_date(params[:end_date]) %>
  </b>
<% end %>

<table class="printISTTable table-bordered table-striped">
  <thead>
  <tr>
    <th><strong>Sl No</strong></th>
    <th><strong>Invoice Number</strong></th>
    <th><strong>Invoice Date</strong></th>
    <th><strong>Company Name</strong></th>
    <th><strong>Description</strong></th>
    <th><strong>Event Total</strong></th>
    <th><strong>Service Tax</strong></th>
  </tr>
  </thead>

  <tbody>
  <% @incoming_service_taxes.each_with_index do |i, index| %>
      <tr>
        <td class="alignCenter" width=40px;><%= index + 1 %></td>
        <td class="alignCenter" width=65px;><%= i[:invoice_number] %></td>
        <td class="alignCenter" width=90px;><%= display_date(i[:invoice_date]) %></td>
        <td class="alignLeft" width=250px;>
          <% if !i.client_id.nil? %>
              <%= get_company_name_by_client_id(i.client_id) %>
          <% end %>
        </td>
        <td width=170px;><%= i[:description] %></td>
        <td class="alignRight" width=90px;><%= i[:event_total] %></td>
        <td class="alignRight" width=90px;><%= i[:service_tax] %></td>
      </tr>
  <% end %>
  <tr>
    <td></td>
    <td></td>
    <td></td>
    <td></td>
    <td><b> Total: </b></td>
    <td class="alignRight"><b><%= @incoming_service_taxes.sum(&:event_total) %></b></td>
    <td class="alignRight"><b><%= @incoming_service_taxes.sum(&:service_tax) %></b></td>
  </tr>

  </tbody>
</table>