<div class="header">
  <h1  class="col-md-6 col-md-offset-2">Clients</h1>
  <div><h2 class="col-md-4 col-md-offset-0"><%=get_user_and_date%></h2></div>
</div>

<div class="belowHeader">

    <h2 class="headerAfter"><%= link_to '+ Add New Client', new_client_path, class: :new%></h2>
    <br>
    <p>Click "Search" button without any input to see all Clients. Or Search by entering part of Company name/Contact person/Phone number/Email address:</p>

    <p>
    <%=form_tag clients_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], :style => 'float:left;', :class => 'searchInput' %>
            <%= submit_tag 'Search', :name => nil, :style => 'float:left;', :class => 'searchBtn' %>
    <%end%>
    </p>
    <br><br><br>

    <% if !@clients.nil? %>

    <table class="table gridData table-hover">
      <thead>
      <tr>
        <th width=60;><strong>#</strong></th>
        <th width=220;><strong>Company Name</strong></th>
        <th width=195px;><strong>Contact Person</strong></th>
        <th width=120px;><strong>Ph Number</strong></th>
        <th width=100px;><strong>Email</strong></th>
        <th width=300px;></th>
      </tr>
      </thead>

      <tbody>
      <% @clients.sort_by {|c| c[:company_name].downcase}.each_with_index do |client, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= client.company_name%></td>
          <td><%= client.contact_person_name %></td>
          <td><%= client.phone_number %></td>
          <td><%= client.email %></td>
          <td><%= link_to 'Select Client', client_path(client.id), class: 'info'%></td>

        </tr>
      <% end %>
      </tbody>
    </table>
    <%end%>
</div>