<h1>Clients</h1>
<table class="table table-bordered">
  <thead>
  <tr>
    <th>Name</th>
    <th>Address</th>
    <th>Phone Number</th>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @clients.each do |client| %>
    <tr>
      <td><%= client.name %></td>
      <td><%= client.address %></td>
      <td><%= client.phone_number %></td>
      <td><%= client.email %></td>
      <td><%= link_to 'Quotations', quotations_path(:client_id => client.id), class: 'info' %></td>
      <td><%= link_to 'Ledger', client_ledgers_path(client), class: 'info' %></td>
      <td><%= link_to 'Edit', edit_client_path(client), class: 'edit' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New Client', new_client_path, class: :default %>
