<h1>Clients</h1>
<table class="table table-striped">
  <thead>
  <tr>
    <th><strong>Company Name</strong></th>
    <th><strong>Address</strong></th>
    <th><strong>Phone Number</strong></th>
    <th><strong>Email</strong></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @clients.each do |client| %>
    <tr>
      <td><%= link_to client.company_name, client_path(client.id)%></td>
      <td><%= client.address %></td>
      <td><%= client.phone_number %></td>
      <td><%= client.email %></td>
      <td><%= link_to 'Quotations', quotations_path(:client_id => client.id, :status => ['Pending', 'Closed']), class: 'info' %></td>
      <td><%= link_to 'Invoices', quotations_path(:client_id => client.id, :status => ['Confirmed']), class: 'info' %></td>
      <td><%= link_to 'Ledger', client_ledgers_path(client), class: 'info' %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<%= link_to 'New Client', new_client_path, class: :info %>
