<div class="header">
  <h1>Clients</h1>
  <div class="headerAfter">
    <h2>
    <%= link_to '+ Add New Client', new_client_path, class: :new%>
    </h2>
  </div>
</div>

<p>Search by entering part of Company name / Contact person / Phone number / Email address:</p>

<%=form_tag clients_path, :method => 'get' do %>
        <%= text_field_tag :search, params[:search], :style => 'float:left;', :class => 'searchInput' %>
        <%= submit_tag 'Search', :name => nil, :style => 'float:left;', :class => 'searchBtn' %>
<%end%>


<% if !@clients.nil? %>

<table class="table gridData table-striped">
  <thead>
  <tr>
    <th width=155px;><strong>Company Name</strong></th>
    <th width=195px;><strong>Contact Person</strong></th>
    <th width=150px;><strong>Ph Number</strong></th>
    <th width=207px;><strong>Email</strong></th>
    <th width=85px;></th>
    <th width=70px;></th>
    <th width=60px;></th>
    <th width=30px;></th>
  </tr>
  </thead>

  <tbody>
  <% @clients.sort_by {|c| c[:company_name].downcase}.each do |client| %>
    <tr>
      <td><%= link_to client.company_name, client_path(client.id)%></td>
      <td><%= client.contact_person_name %></td>
      <td><%= client.phone_number %></td>
      <td><%= client.email %></td>
      <td><%= link_to 'Quotations', quotations_path(:client_id => client.id, :status => [PENDING, CONFIRMED, CLOSED]), class: 'info' %></td>
      <td><%= link_to 'Invoices', quotations_path(:client_id => client.id, :status => [INVOICE]), class: 'info' %></td>
      <td><%= link_to 'Ledger', client_ledgers_path(client), class: 'info' %></td>
      <td><%= button_to 'X', client, {:onclick => "return confirm('WARNING : Are you sure to DELETE this Client ? All Quotations and payment details would be lost! You will not be able to UnDo this')", method: :delete, :class => 'deleteBtn'} %></td>

    </tr>
  <% end %>
  </tbody>
</table>
<%end%>
