<p id="notice"><%= notice %></p>

<p>
  <strong>Company Name:</strong>
  <%= @client.company_name %>
</p>

<p>
  <strong>Contact Person Name:</strong>
  <%= @client.contact_person_name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @client.address %>
</p>

<p>
  <strong>Phone Number:</strong>
  <%= @client.phone_number %>
</p>

<p>
  <strong>Phone Number 1:</strong>
  <%= @client.phone_number_1 %>
</p>

<p>
  <strong>Email:</strong>
  <%= @client.email %>
</p>

<p>
  <strong>Email 1:</strong>
  <%= @client.email_1 %>
</p>

<%= link_to 'Edit', edit_client_path(@client), class: :default%>
