<div class="header"><h1><%= @client.company_name %></h1></div>

<ul class="nav nav-tabs nav-tabs-ul">
  <li class="active disabled"><a href="#">Home</a></li>
  <li class="#"><a href="#">Quotations</a></li>
  <li><a href="#">Invoices</a></li>
  <li><a href="#">Payments</a></li>
  <li><a href="#">Ledger</a></li>
</ul>


<br>


<table class="table table-striped">
  <tbody>
      <tr>
        <td><strong>Contact Person Name:</strong></td>
        <td><%= @client.contact_person_name %></td>
        </tr>
      <tr>
        <td><strong>Address:</strong></td>
        <td><%= @client.address %></td>
        </tr>
      <tr>
        <td><strong>Phone Number:</strong></td>
        <td><%= @client.phone_number %></td>
        </tr>
      <tr>
        <td><strong>Phone Number 2</strong>:</td>
        <td><%= @client.phone_number_1 %></td>
        </tr>
      <tr>
        <td><strong>Email:</strong></td>
        <td><%= @client.email %></td>
        </tr>
      <tr>
        <td><strong>Email 2:</strong></td>
        <td><%= @client.email_1 %></td>
      </tr>


  </tbody>
</table>

<td><%= link_to 'Edit', edit_client_path(@client), class: 'edit' %></td>

