<div class="header">
  <h1 class="col-md-6 col-md-offset-2">Activities</h1>
  <div><h2 class="col-md-4 col-md-offset-0"><%=get_user_and_date%></h2></div>
</div>


<div class="belowHeader">
    <p>Please enter both start and end dates:</p>
    <%= form_tag({}, {class: 'form-inline', method: 'get'}) do %>
        <%= text_field_tag :start_date, params[:start_date], class: 'form-control', placeholder: 'Start Date' %>
        <%= text_field_tag :end_date, params[:end_date], class: 'form-control', placeholder: 'End Date' %>
        <%= submit_tag 'Search', name: nil  %>
    <% end %>
    <hr>

    <p><b> Invoices raised between : <%= get_dates_message(params[:start_date], params[:end_date]) %></b> </p>

    <table class="table table-striped gridData">

      <thead>
      <tr>
        <th><strong>Sl. No.</strong></th>
        <th>Invoice Type</th>
        <th><strong>Invoice Number</strong></th>
        <th>Company Name</th>
        <th>Event Date</th>
        <th>Invoice Raised Date</th>
        <th>Amount</th>
        <th>Invoice Raised By</th>
      </tr>
      </thead>

      <% @invoices_raised.each_with_index do |i, index| %>

        <tr>
          <td class="alignCenter"><%= index + 1 %></td>
          <td><%= i.invoice_type %></td>
          <td><%= i.invoice_number %></td>
          <td><%= i.client.company_name %></td>
          <td><%= display_date(i.event_date) %></td>
          <td><%= display_date(i.invoice_raised_date) %></td>
          <td class="alignRight"><%= i.total_price %></td>
          <td><%= i.invoice_raised_by %></td>
          <tr>

      <% end %>

    </table>


    <p><b> Payments Created/Updated between : <%= get_dates_message(params[:start_date], params[:end_date]) %></b> </p>

    <table class="table table-striped gridData">

      <thead>
      <tr>
        <th><strong>Sl. No.</strong></th>
        <th>Client</th>
        <th>Description</th>
        <th>Mode</th>
        <th>Paid On</th>
        <th>Amount</th>
        <th>Type</th>
        <th>Created On</th>
        <th>Updated On</th>
      </tr>
      </thead>

      <% @payments_changed.each_with_index do |p, index| %>

          <tr>
            <td class="alignCenter"><%= index + 1 %></td>
            <td><%= p.client.company_name %></td>
            <td><%= p.description %></td>
            <td><%= p.mode %></td>
            <td><%= display_date(p.paid_on) %></td>
            <td><%= p.amount %></td>
            <td><%= p.payment_type %></td>
            <td><%= display_date(p.created_at.to_date) + ' | ' + p.created_at.strftime("%H:%M:%S")%></td>
            <td><%= display_date(p.updated_at.to_date) + ' | ' + p.updated_at.strftime("%H:%M:%S")%></td>
          <tr>

      <% end %>

    </table>
</div>
<p><b> Quotations Created/Edited between : <%= get_dates_message(params[:start_date], params[:end_date]) %></b> </p>

<table class="table table-striped gridData">

  <thead>
  <tr>
    <th><strong>Sl. No.</strong></th>
    <th><strong>Company Name</strong></th>
    <th><strong>Event</strong></th>
    <th><strong>Event Date</strong></th>
    <th><strong>Status</strong></th>
    <th>Created On</th>
    <th>Updated On</th>

  </tr>
  </thead>

  <% @quotations_changed.each_with_index do |quotation, index| %>

      <tr>
        <td class="alignCenter"><%= index + 1 %></td>
        <td><%= quotation.client.company_name %></td>
        <td><%= quotation.event_name %></td>
        <td><%= display_date(quotation.event_date) %></td>
        <td><%= quotation.status %></td>
        <td><%= display_date(quotation.created_at.to_date) + ' | ' + quotation.created_at.strftime("%H:%M:%S")%></td>
        <td><%= display_date(quotation.updated_at.to_date) + ' | ' + quotation.updated_at.strftime("%H:%M:%S")%></td>
      <tr>

  <% end %>

</table>


    <script>
        $('#start_date').datepicker({format: 'dd-mm-yyyy', autoclose: true, todayHighlight: true, clearBtn: true})
        $('#end_date').datepicker({format: 'dd-mm-yyyy', autoclose: true, todayHighlight: true, clearBtn: true})
    </script>

