<%= form_for([@client, @quotation]) do |f| %>
  <% if @quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quotation.errors.count, "error") %> prohibited this quotation from being saved:</h2>

      <ul>
      <% @quotation.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :event_date %><br>
    <%= f.text_field :event_date %>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.select(:status, options_for_select(["Pending", "Confirmed"], @quotation.status.nil? ? "Pending" : @quotation.status)) %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

  <script>
    $('#quotation_event_date').datepicker({format: 'yyyy-mm-dd'});
  </script>
<% end %>
