<%= form_for(@quotation) do |f| %>
  <% if @quotation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@quotation.errors.count, 'error') %> prohibited this quotation from being saved:</h2>
      <ul>
        <% @quotation.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


    <div class="actions" style="text-align: right;">
      <%= submit_tag 'Update Quotation', {:onclick => "return confirm('WARNING : Are you sure updating quotations. If you are raising INVOICE, please be sure of details.')"}%>
      <%=link_to 'Back To Quotation', quotation_item_details_path(@quotation.id)%>
    </div>

    <ul class="field_container">
      <li>
        <%= f.label :client_id %>
        <% clients_array = Client.all.map { |client| [client.company_name, client.id] } %>
        <%= f.select(:client_id, options_for_select(clients_array, @quotation.client.nil? ? 1 : @quotation.client.id)) %>
      </li>
      <li>
        <%= f.label :event_name %>
        <%= f.text_field :event_name %>
      </li>
      <li>
        <%= f.label :venue %>
        <%= f.text_area :venue %>
      </li>
      <li>
        <%= f.label :event_date %>
        <% if @quotation.event_date.nil? %>
            <%= f.text_field :event_date%>
        <%else%>
            <%= f.text_field :event_date, :value => @quotation.event_date.strftime('%d/%m/%Y')%>
        <%end%>
      </li>
      <li>
        <%= f.label :days %>
        <%= f.text_field :days %>
      </li>
      <li>
        <%= f.label :invoice_type %>
        <%= f.select(:invoice_type, options_for_select([INVOICE, PROFORMA], @quotation.invoice_type.nil? ? INVOICE : @quotation.invoice_type)) %>
      </li>
      <li>
        <%= f.label :status %>
        <% if @quotation.status.nil? %>
            <%= f.select(:status, options_for_select([PENDING, CONFIRMED, CLOSED], @quotation.status.nil? ? PENDING : @quotation.status)) %>
        <%else%>
            <%= f.select(:status, options_for_select([PENDING, CONFIRMED, INVOICE, CLOSED], @quotation.status.nil? ? PENDING : @quotation.status)) %>
        <%end%>
      </li>
      <li>
        <%= f.label :notes %>
        <%= f.text_area :notes%>
      </li>
    </ul>


    <% if @quotation.is_open_for_edits?%>
      <strong>Terms and Conditions:</strong>
      <div class="field">
        <ul>
          <% get_terms_and_conditions.each do |t| %>
            <li><%= f.check_box(:tac, {:multiple => true}, t, nil)%> <%= t %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <p>For Audio Plus</p>

    <script>
        $('#quotation_event_date').datepicker({format: 'dd-mm-yyyy', autoclose:true, todayHighlight:true, clearBtn:true})
    </script>
<% end %>
