<div class="header">
  <h1>
    <%= if params[:status].nil? then
          'Quotations'
        else
          params[:status].include?(INVOICE) ? 'Invoices' : 'Quotations'
        end %>
    <% if !@client.nil? %>
        for <i><%= @client.company_name %></i>
    <% end %>
  </h1>

  <div class="nav">
    <h2>
    <% if @client.nil? %>
        <%= link_to '+ New Quotation', new_quotation_path(), class: 'new' %>
    <% else %>
          <%= link_to 'Payments', :controller => 'payments', :action => 'index', :client_id => @client.id, :company_name => @client.company_name %>
          &nbsp; | &nbsp;
          <%= link_to 'Ledger', client_ledgers_path(@client)%>
          &nbsp; | &nbsp;
          <%= link_to '+ New Quotation', new_quotation_path(client_id: @client.id), class: 'new' %>
    <% end %>
    </h2>
  </div>
</div>



<table class="table table-striped">
  <thead>
  <tr>
    <th><strong>Name</strong></th>
    <th><strong>Event Date</strong></th>
    <th><strong>Invoice Type</strong></th>
    <th><strong>Status</strong></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @quotations.each do |quotation| %>
    <tr>
      <td><%= quotation.event_name %></td>
      <td><%= quotation.event_date.strftime("%d/%m/%Y")%></td>
      <td><%= quotation.invoice_type %></td>
      <td><%= quotation.status %></td>
      <td><%= link_to 'Show Details', quotation_item_details_path(quotation), class: 'info' %></td>
      <td><%= button_to 'Delete', quotation, {:onclick => "return confirm('WARNING : Are you sure to DELETE this quotation Permanently? You will not be able retrieve this quotation again')", :method=>:delete} %></td>
    </tr>
  <% end %>
  </tbody>
</table>
