<div class="header">
  <h1 class="col-md-6 col-md-offset-2 companyName"><%= @client.company_name %></h1>
</div>

<div class="belowHeader">
    <ul class="nav nav-tabs nav-tabs-ul">
        <li class="#"><%= link_to 'Home', client_path(@client.id)%></li>
      <% if params[:status].nil? || !params[:status].include?(STATUS_INVOICE) %>
        <li class="active disabled"><%= link_to 'Quotations', quotations_path(:client_id => @client.id, :status => [STATUS_PENDING, STATUS_CONFIRMED, STATUS_CLOSED])%></li>
      <%else %>
          <li class="#"><%= link_to 'Quotations', quotations_path(:client_id => @client.id, :status => [STATUS_PENDING, STATUS_CONFIRMED, STATUS_CLOSED])%></li>
      <%end%>

      <% if !params[:status].nil? && params[:status].include?(STATUS_INVOICE) %>
          <li class="active disabled"><%= link_to 'Invoices', quotations_path(:client_id => @client.id, :status => [STATUS_INVOICE])%></li>
      <%else %>
          <li class="#"><%= link_to 'Invoices', quotations_path(:client_id => @client.id, :status => [STATUS_INVOICE])%></li>
      <%end%>


      <li class="#"><%= link_to 'Payments', :controller => 'payments', :action => 'index', :client_id => @client.id, :company_name => @client.company_name %></li>
      <li class="#"><%= link_to 'Ledger', client_ledgers_path(@client.id)%></li>
    </ul>

    <h2 class="headerAfter"><%= link_to '+ Add New Quotation', new_quotation_path(client_id: @client.id, company_name: @client.company_name)%></h2>


    <table class="belowHeader table gridData">
      <thead>
      <tr>
        <th><strong>#</strong></th>
        <th><strong>Name</strong></th>
        <th><strong>Event Date</strong></th>
        <th><strong>Invoice Type</strong></th>
        <th><strong>Status</strong></th>
        <th><strong>Total Price</strong></th>
        <th></th>
        <th></th>
      </tr>
      </thead>

      <tbody>
      <% @quotations.each_with_index do |quotation, i| %>
        <tr>
          <td><%= i+1 %></td>
          <td><%= quotation.event_name %></td>
          <td><%= display_date(quotation.event_date) %></td>
          <td><%= quotation.invoice_type %></td>
          <td class='<%= get_quotation_status_color_class_by_id(quotation.id)%>'><%= quotation.status %></td>

          <td><%= quotation.total_price %></td>
          <td><%= link_to 'Show Details', quotation_item_details_path(quotation), class: 'info', :style => 'color:white' %></td>


          <%if policy(quotation).destroy? %>
              <td>
                <%if quotation.is_open_for_edits(current_user)%>
                    <%= button_to 'X', quotation, {:onclick => "return confirm('WARNING : Are you sure to DELETE this quotation Permanently? You will not be able retrieve this quotation again')", :method=>:delete, :class => 'deleteBtn'} %>
                <% end %>
              </td>
          <%end%>
        </tr>
      <% end %>
      </tbody>
    </table>
</div>
