<div class="header">
  <h1>Bank</h1>

  <div class="headerAfter">
    <h2><%= display_verbose_date(DateTime.now) %></h2>
  </div>
</div>

<p>Please enter both start and end dates:</p>
<%= form_tag({}, {class: 'form-inline', method: 'get'}) do %>
  <%= text_field_tag :start_date, params[:start_date], class: 'form-control', placeholder: 'Start Date' %>
  <%= text_field_tag :end_date, params[:end_date], class: 'form-control', placeholder: 'End Date' %>
  <%= submit_tag 'Search', name: nil  %>
<% end %>


<% if !@bank.nil? %>

  <br>
  <p> Service tax details between :
    <b>
      <%= display_verbose_date(params[:start_date]) %>  &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= display_verbose_date(params[:end_date]) %>
    </b>
  </p>

  <table class="table gridData table-condensed table-striped table-bordered">
    <thead>
    <tr>
      <th><strong>Sl No</strong></th>
      <th><strong>Invoice Number</strong></th>
      <th><strong>Invoice Date</strong></th>
      <th><strong>Name</strong></th>
      <th><strong>Event Total</strong></th>
      <th><strong>Service Tax</strong></th>
    </tr>
    </thead>

    <tbody>
    <% @bank.each_with_index do |b, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= b[:invoice_number] %></td>
        <td><%= display_date(b[:invoice_raised_date]) %></td>
        <td><%= get_company_name_by_client_id(b[:client_id]) %></td>
        <td class="alignRight"><%= get_total_price_by_quotation_id(b[:id]) %></td>
        <td class="alignRight"><%= b[:service_tax] %></td>
      </tr>
    <% end %>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td><b> Total: </b></td>
      <td class="alignRight"><b><%= @bank.sum(&:total_price) %></b></td>
      <td class="alignRight"><b><%= @bank.sum(&:service_tax) %></b></td>
    </tr>
<% end %>
</tbody>
</table>

<script>
  $('#start_date').datepicker({format: 'dd-mm-yyyy', autoclose: true, todayHighlight: true, clearBtn: true})
  $('#end_date').datepicker({format: 'dd-mm-yyyy', autoclose: true, todayHighlight: true, clearBtn: true})
</script>

