<div class="header">
  <h1>Bank</h1>

  <div class="nav">
    <h2><%= DateTime.now.to_date.strftime("%d %B, %Y") %></h2>
  </div>
</div>

<p>Please enter both start and end dates:</p>
<%= form_tag({}, {class: 'form-inline', method: 'get'}) do %>
  <%= text_field_tag :start_date, params[:start_date], class: 'form-control', placeholder: 'Start Date' %>
  <%= text_field_tag :end_date, params[:end_date], class: 'form-control', placeholder: 'End Date' %>
  <%= submit_tag 'Search', name: nil  %>
<% end %>


<% if !@bank.nil? %>

  <br><br>
  <p> Service tax details between :
    <b>
      <%= Date.parse(params[:start_date], '%d/%m/%Y').strftime("%d %B, %Y") %>  &nbsp;&nbsp;|&nbsp;&nbsp;
      <%= Date.parse(params[:end_date], '%d/%m/%Y').strftime("%d %B, %Y") %>
    </b>
  </p>

  <table class="table table-condensed table-striped table-bordered">
    <thead>
    <tr>
      <th><strong>Sl No</strong></th>
      <th><strong>Invoice Number</strong></th>
      <th><strong>Invoice Date</strong></th>
      <th><strong>Name</strong></th>
      <th><strong>Service Tax</strong></th>
    </tr>
    </thead>

    <tbody>
    <% @bank.each_with_index do |b, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= b[:invoice_number] %></td>
        <td><%= b[:invoice_raised_date].strftime('%d/%m/%Y') %></td>
        <td><%= b[:event_name] %></td>
        <td><%= b[:service_tax] %></td>
      </tr>
    <% end %>
<% end %>
</tbody>
</table>

<script>
  $('#start_date').datepicker({format: 'dd-mm-yyyy', autoclose: true, todayHighlight: true, clearBtn: true})
  $('#end_date').datepicker({format: 'dd-mm-yyyy', autoclose: true, todayHighlight: true, clearBtn: true})
</script>

