<div class="header">
  <h1>Ledger for <i><%= @client.company_name %></i></h1>

  <div class="headerAfter">
    <h2>
      <%= link_to 'Payments', :controller => 'payments', :action => 'index', :client_id => @client.id %>   &nbsp;|&nbsp;
      <%= link_to 'Invoices', :controller => 'quotations', :action => 'index', :client_id => @client.id, :status => STATUS_INVOICE %>   &nbsp;|&nbsp;
      <%= link_to '+ Add New Payment', new_payment_path(:client_id => @client.id), class: 'new'%>
    </h2>
  </div>
</div>

<p>Please enter both start and end dates for filtering:</p>
<%= form_tag({}, {class: 'form-inline', method: 'get'}) do %>
    <%= text_field_tag :start_date, params[:start_date], class: 'form-control', placeholder: 'Start Date' %>
    <%= text_field_tag :end_date, params[:end_date], class: 'form-control', placeholder: 'End Date' %>
    <%= submit_tag 'Search', name: nil  %>
<% end %>
<br>


<% if !params[:start_date].to_s.empty? && !params[:end_date].to_s.empty? %>
  <p> Ledger entries details between :
  <b>
    <%= display_verbose_date(params[:start_date]) %>  &nbsp;&nbsp;|&nbsp;&nbsp;
    <%= display_verbose_date(params[:end_date]) %>
  </b>
  </p>
<% end %>


<table class="table table-condensed gridData table-striped table-bordered">
  <thead>
  <tr>
    <th><strong>Date</strong></th>
    <th><strong>Description of Transaction</strong></th>
    <th><strong>Debit</strong></th>
    <th><strong>Credit</strong></th>
    <th><strong>Balance</strong></th>
  </tr>
  </thead>

  <tbody>
  <% @ledger_details.each do |ledger_detail| %>
    <tr>
      <td><%= display_date(ledger_detail[:date]) %></td>
      <td width=500px;><%= ledger_detail[:description] %></td>
      <td class="alignRight"><%= ledger_detail[:debit] %></td>
      <td class="alignRight"><%= ledger_detail[:credit] %></td>
      <td class="alignRight"><%= ledger_detail[:balance] %></td>
      <td>
      <% if !ledger_detail[:id].nil? %>
        <%= link_to 'Show Details', quotation_item_details_url(ledger_detail[:id]), class: 'info', :style => 'float:right'%>
      <%end%>
      </td>

    </tr>
  <% end %>
  </tbody>
</table>

<p><%= link_to 'Print PDF', :controller => 'ledgers', :action => 'print', :format => 'pdf', :start_date => params[:start_date].to_s, :end_date => params[:end_date].to_s, :client_id => @client.id, :company_name => @client.company_name %></p>
<%= link_to 'Print', :controller => 'print_ledger', :start_date => params[:start_date].to_s, :end_date => params[:end_date].to_s, :client_id => @client.id, :company_name => @client.company_name %>


<script>
    $('#start_date').datepicker({format: 'dd-mm-yyyy', autoclose: true, todayHighlight: true, clearBtn: true})
    $('#end_date').datepicker({format: 'dd-mm-yyyy', autoclose: true, todayHighlight: true, clearBtn: true})
</script>

