<h1>Ledger</h1>
<p>
  <%= @client.company_name %><br>
  <%= @client.address %>
</p>
<div class="actions" style="text-align: right;">
    <%= link_to 'Add New Payment', new_payment_path(:client_id => @client.id), class: 'new'%>
</div>
<table class="table table-condensed table-striped table-bordered">
  <thead>
  <tr>
    <th><strong>Date</strong></th>
    <th><strong>Description of Transaction</strong></th>
    <th><strong>Debit</strong></th>
    <th><strong>Credit</strong></th>
    <th><strong>Balance</strong></th>
  </tr>
  </thead>

  <tbody>
  <% @ledger_details.each do |ledger_detail| %>
    <tr>
      <td><%= ledger_detail[:date].to_date.strftime("%d/%m/%Y") %></td>
      <td><%= ledger_detail[:description] %></td>
      <td><%= ledger_detail[:debit] %></td>
      <td><%= ledger_detail[:credit] %></td>
      <td><%= ledger_detail[:balance] %></td>
    </tr>
  <% end %>
  </tbody>
</table>

