<%= form_for(@payment) do |f| %>
  <% if @payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payment.errors.count, "error") %> prohibited this payment from being saved:</h2>

      <ul>
      <% @payment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <ul class="field_container">
    <li>
      <%= f.label :client_id %>
      <%= f.select(:client_id, options_for_select(get_all_sorted_companies, @payment.client.nil? ? 1 : @payment.client.id)) %>
    </li>
    <li>
      <%= f.label :description %>
      <%= f.text_area :description %>
    </li>
    <li>
      <%= f.label :mode %>
      <%= f.text_field :mode %>
    </li>
    <li>
      <%= f.label :paid_on %>
      <%= f.text_field :paid_on %>
    </li>
    <li>
      <%= f.label :amount %>
      <%= f.text_field :amount %>
    </li>
    <li>
      <%= f.label :payment_type %>
      <%= f.select(:payment_type, options_for_select(%w(Debit Credit))) %>
    </li>
  </ul>

  <div class="actions">
    <%= f.submit %>
  </div>

  <script>
    $('#payment_paid_on').datepicker({format: 'dd-mm-yyyy', autoclose:true, todayHighlight:true, clearBtn:true})
  </script>
<% end %>
