<h1>Listing payments</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Client</th>
    <th>Description</th>
    <th>Mode</th>
    <th>Paid on</th>
    <th>Amount</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.client.name %></td>
      <td><%= payment.description %></td>
      <td><%= payment.mode %></td>
      <td><%= payment.paid_on %></td>
      <td><%= payment.amount %></td>
      <td><%= link_to 'Show', payment, class: :info %></td>
      <td><%= link_to 'Edit', edit_payment_path(payment), class: :edit%></td>
      <td><%= link_to 'Destroy', payment, method: :delete, data: {confirm: 'Are you sure?'}, class: :destroy %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path, class: :default %>
