<div class="header"><h1><%= get_header_for_payments(params[:client_id], params[:company_name]) %></h1>
  <div class="headerAfter">
    <h2>
      <% !if params[:client_id] %>
          <%= link_to 'Invoices', :controller => 'quotations', :action => 'index', :client_id => params[:client_id], :status => INVOICE %>
          &nbsp;|&nbsp;
          <%= link_to 'Ledger', :controller => 'ledgers', :action => 'index', :client_id => params[:client_id]%>
           &nbsp; | &nbsp;
      <%end%>
      <%= link_to '+ Add New Payment', new_payment_path, class: :new %>
    </h2>
  </div>
</div>

<table class="table gridData table-striped">
  <thead>
  <tr>
    <th><strong>Client</strong></th>
    <th><strong>Description</strong></th>
    <th><strong>Mode</strong></th>
    <th><strong>Paid on</strong></th>
    <th><strong>Amount</strong></th>
    <th><strong>Type</strong></th>
    <th><strong>Added By</strong></th>
    <th><strong>Last Modified By</strong></th>
    <th></th>
    <th></th>
    <!--<th></th>-->
  </tr>
  </thead>

  <tbody>
  <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.client.company_name %></td>
      <td><%= payment.description %></td>
      <td><%= payment.mode %></td>
      <td><%= display_date(payment.paid_on) %></td>
      <td class="alignRight"><%= payment.amount %></td>
      <td><%= payment.payment_type %></td>
      <td><%= payment.payment_added_by %></td>
      <td><%= payment.payment_last_modified_by %></td>
      <td><%= link_to 'Details', payment, class: :info %></td>
      <td><%= link_to 'Ledger', :controller => 'ledgers', :action => 'index', :client_id => payment.client.id, class: 'info' %>
      <!--<td><%= button_to 'X', payment, {:onclick => "return confirm('WARNING : Are you sure to DELETE this Payment Permanently? You will not be able to UnDo this')", :method=>:delete, :class => 'deleteBtn'} %></td>-->

    </tr>
  <% end %>
  </tbody>
</table>

<br>
