<div class="header">
  <% if params[:client_id].nil? %>
    <h1>All Payments</h1>
  <%else%>
      <h1>Payments for <i><%= params[:company_name] %></i></h1>
  <%end%>

  <div class="headerAfter">
    <h2>
      <% !if params[:client_id] %>
          <%= link_to 'Invoices', :controller => 'quotations', :action => 'index', :client_id => params[:client_id], :status => INVOICE %>
          &nbsp;|&nbsp;
          <%= link_to 'Ledger', :controller => 'ledgers', :action => 'index', :client_id => params[:client_id]%>
           &nbsp; | &nbsp;
      <%end%>
      <%= link_to '+ Add New Payment', new_payment_path, class: :new %>
    </h2>
  </div>
</div>

<table class="table gridData table-striped">
  <thead>
  <tr>
    <th><strong>Client</strong></th>
    <th><strong>Description</strong></th>
    <th><strong>Mode</strong></th>
    <th><strong>Paid on</strong></th>
    <th><strong>Amount</strong></th>
    <th><strong>Type</strong></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.client.company_name %></td>
      <td><%= payment.description %></td>
      <td><%= payment.mode %></td>
      <td><%= payment.paid_on.strftime("%d/%m/%Y")%></td>
      <td><%= payment.amount %></td>
      <td><%= payment.payment_type %></td>
      <td><%= link_to 'Show Details', payment, class: :info %></td>
      <td><%= link_to 'Ledger', :controller => 'ledgers', :action => 'index', :client_id => payment.client.id, class: 'info' %>
      <td><%= button_to 'X', payment, {:onclick => "return confirm('WARNING : Are you sure to DELETE this Payment Permanently? You will not be able to UnDo this')", :method=>:delete, :class => 'deleteBtn'} %></td>

    </tr>
  <% end %>
  </tbody>
</table>

<br>
