<h1>Payments</h1>

<table class="table table-striped">
  <thead>
  <tr>
    <th><strong>Client</strong></th>
    <th><strong>Description</strong></th>
    <th><strong>Mode</strong></th>
    <th><strong>Paid on</strong></th>
    <th><strong>Amount</strong></th>
    <th><strong>Type</strong></th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @payments.each do |payment| %>
    <tr>
      <td><%= payment.client.company_name %></td>
      <td><%= payment.description %></td>
      <td><%= payment.mode %></td>
      <td><%= payment.paid_on%></td>
      <td><%= payment.amount %></td>
      <td><%= payment.payment_type %></td>
      <td><%= link_to 'Show Details', payment, class: :info %></td>
      <td><%= link_to 'Destroy', payment, method: :delete, data: {confirm: 'Are you sure?'}, class: :destroy %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Payment', new_payment_path, class: :info %>
