<p id="notice"><%= notice %></p>

<table class="table table-striped">
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
      <tr>
        <td><strong>Client</strong></td>
        <td><%= @payment.client.company_name %></td>
      </tr>
      <tr>
        <td><strong>Description</strong></td>
        <td><%= @payment.description %></td>
      </tr>
      <tr>
        <td><strong>Mode</strong></td>
        <td><%= @payment.mode %></td>
      </tr>
      <tr>
        <td><strong>Paid on</strong></td>
        <td><%= @payment.paid_on%></td>
      </tr>
      <tr>
        <td><strong>Amount</strong></td>
        <td><%= @payment.amount %></td>
      </tr>
      <tr>
        <td><strong>Type</strong></td>
        <td><%= @payment.payment_type %></td>
      </tr>
  </tbody>
</table>


<%= link_to 'Edit', edit_payment_path(@payment), class: :edit%> |
<%= link_to 'Back', payments_path %>
