<p id="notice"><%= notice %></p>

<p>
  <strong>Client:</strong>
  <%= @payment.client_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @payment.description %>
</p>

<p>
  <strong>Mode:</strong>
  <%= @payment.mode %>
</p>

<p>
  <strong>Paid on:</strong>
  <%= @payment.paid_on.strftime("%d/%m/%Y") %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @payment.amount %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
