<div class="header">
  <h1 class="col-md-6 col-md-offset-2 companyName"><%=@payment.client.company_name%></h1>
</div>

<div class="belowHeader">
    <ul class="nav nav-tabs nav-tabs-ul">
          <li><h3>Payment  Details &nbsp;&nbsp;&nbsp;&nbsp;</h3></li>

      <li class="#"><%= link_to 'Home', client_path(@payment.client.id) %></li>
      <li class="#"><%= link_to 'Quotations', quotations_path(:client_id => @payment.client.id, :status => [STATUS_PENDING, STATUS_CONFIRMED, STATUS_CLOSED])%></li>
      <li class="#"><%= link_to 'Invoices', quotations_path(:client_id => @payment.client.id, :status => [STATUS_INVOICE])%></li>
      <li class="#"><%= link_to 'Payments', payments_path(:client_id => @payment.client.id, :company_name => @payment.client.company_name)%></li>
      <li class="#"><%= link_to 'Ledger', client_ledgers_path(@payment.client.id)%></li>
    </ul>

  <br>
  <p class="headerAfter">
    <% if policy(@payment).update? %>
        <%= link_to 'Edit payment details', edit_payment_path(@payment), class: :edit, style: 'color:white'%>
    <%end%>
  </p>
  <br><br>




    <table class="table table-bordered table-hover">
      <tbody>
          <tr>
            <td width=170px; class="gray"><strong>Client:</strong></td>
            <td><%= @payment.client.company_name %></td>
          </tr>
          <tr>
            <td class="gray"><strong>Received by:</strong></td>
            <td><%= @payment.received_by %></td>
          </tr>
          <tr>
            <td class="gray"><strong>Description:</strong></td>
            <td><%= @payment.description %></td>
          </tr>
          <tr>
            <td class="gray"><strong>Mode:</strong></td>
            <td><%= @payment.mode %></td>
          </tr>
          <tr>
            <td class="gray"><strong>Reference Number:</strong></td>
            <td><%= @payment.reference_number %></td>
          </tr>

          <tr>
            <td class="gray"><strong>Paid on:</strong></td>
            <td><%= @payment.paid_on.strftime("%d/%m/%Y")%></td>
          </tr>
          <tr>
            <td class="gray"><strong>Amount:</strong></td>
            <td><%= @payment.amount %></td>
          </tr>
          <tr>
            <td class="gray"><strong>Type:</strong></td>
            <td><%= @payment.payment_type %></td>
          </tr>
          <tr>
            <td class="gray"><strong>Added By:</strong></td>
            <td><%= @payment.payment_added_by %></td>
          </tr>
          <tr>
            <td class="gray"><strong>Last Modified By:</strong></td>
            <td><%= @payment.payment_last_modified_by %></td>
          </tr>

      </tbody>
    </table>

      <%= link_to 'Print PDF', :controller => 'payments', :action => 'print', :format => 'pdf', :payment_id => @payment.id, :first_name => current_user.first_name, :last_name => current_user.last_name %>
        <br><br>


        <br><br>

      <% if policy(@payment).destroy? %>
        <%= button_to 'X', payment_path(), {:onclick => "return confirm('WARNING : Are you sure to DELETE this Payment Permanently? You will not be able to UnDo this')", :method=>:delete, :class => 'deleteBtn'} %>
      <%end%>


</div>