<div class="header">
  <h1 class="col-md-6 col-md-offset-2">Taxes</h1>
  <div><h2 class="col-md-4 col-md-offset-0"><%=get_user_and_date%></h2></div>
</div>


<div class="belowHeader">
  <ul class="nav navbarTaxes">

      <li><%= link_to 'Service Taxes', :controller => 'service_taxes', :action => :index %></li>
      <li><%= link_to 'Incoming Service Taxes', :controller => 'incoming_service_taxes', :action => :index %></li>
      <li><%= link_to 'TDS', :controller => 'tds', :action => :index %></li>
      <li><%= link_to 'Payments', :controller => 'payments', :action => :filter %></li>

  </ul>

</div>
