<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <% if @quotation.status == 'Confirmed' %>
      Invoice No: <%= @quotation.id %>
      <br/>
    <% else %>
      Quotation No: <%= @quotation.id %>
      <br/>
    <% end %>
    To:
    <p>
      <%= @quotation.client.name %>,<br/>
      <%= @quotation.client.address %>
    </p>
  </div>
  <div class="col-md-3">
    <p>
      <br/>
      Date: <%= @quotation.updated_at.to_date %><br/>
      Event Date: <%= @quotation.event_date %><br/>
      Venue: <%= @quotation.venue %>
    </p>
  </div>
</div>
<br/>


<div class="col-md-10 col-md-offset-1">
  <table class="table table-condensed table-striped table-bordered">
    <thead>
    <tr>
      <th>Sl. No.</th>
      <th>Particulars</th>
      <th>Quantity</th>
      <th>Days</th>
      <th>Price</th>
    </tr>
    </thead>

    <tbody>
    <% @quotation.item_details.each_with_index do |item_detail, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= item_detail.particulars %></td>
        <td><%= item_detail.quantity %></td>
        <td><%= item_detail.days %></td>
        <td><%= item_detail.price %></td>
      </tr>
    <% end %>
    <tr>
      <td>Total:</td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= number_to_currency(@quotation.total_price, locale: :in) %></td>
    </tr>
    </tbody>
  </table>
</div>
