<h2 style="text-align: center; font-size: 20px;"><b>
  <% if @quotation.status == INVOICE %>
      Invoice
  <% else %>
      Quotation
  <% end %>
</b></h2>

<div class="">
  <div class="printLeft">
    <% if @quotation.is_a_complete_invoice? %>
      Invoice No: <%= @quotation.invoice_number %>
      <br/>
    <% else %>
      <%#
        # No need to show quotation number for now
        #Quotation No: <%= @quotation.id %>
      <br/>
    <% end %>
    To:
    <p>
      <%= @quotation.client.company_name %>,<br/>
      <%= @quotation.client.address %>
    </p>
  </div>
  <div class="printLeft printRight">
    <p>
      <br/>
      Date: <%= display_date(@quotation.updated_at) %><br/>
      Event Date: <%= display_date(@quotation.event_date) %><br/>
      Venue: <%= @quotation.venue %>
    </p>
  </div>
</div>
<br/>

<p>
  Service Tax Number : AKAPP9970EST001
</p>

<div class="">
  <table class="printInvoiceTable table-bordered table-striped" style="width: 100%">
    <thead>
    <tr>
      <th>Sl. No.</th>
      <th>Particulars</th>
      <th>Quantity</th>
      <th>Days</th>
      <th>Price</th>
    </tr>
    </thead>

    <tbody>
    <% @quotation.item_details.each_with_index do |item_detail, index| %>
      <tr>
        <td><%= index + 1 %></td>
        <td><%= item_detail.particulars %></td>
        <td><%= item_detail.quantity %></td>
        <td><%= item_detail.days %></td>
        <td><%= item_detail.price %></td>
      </tr>
    <% end %>
    <% if @quotation.is_a_complete_invoice? %>
        <tr>
          <td></td>
          <td>Service Tax @ 12%</td>
          <td></td><td></td>
          <td><%= @quotation.service_tax_at_12_percent %></td>
        </tr>
        <tr>
          <td></td>
          <td>Education Cess @ 2% (On S.T)</td>
          <td></td><td></td>
          <td><%= @quotation.education_cess %></td>
        </tr>
        <tr>
          <td></td>
          <td>Sec. & Higher Edu. Cess @ 1% (On S.T)</td>
          <td></td><td></td>
          <td><%= @quotation.higher_education_cess %></td>
        </tr>
    <% end %>
    <tr>
      <td></td>
      <td><b>Total:</b></td>
      <td></td>
      <td></td>
      <td><%= @quotation.total_price %></td>
    </tr>
    </tbody>
  </table>
  <br>

  <% if params[:print_bank] == 'true' && @quotation.is_a_complete_invoice?%>
    <strong>Account Details for NEFT or RTGS</strong>
      <table class="printInvoiceTable table-bordered" style="width: 100%">
      <tbody>
      <tr>
        <td>Account Name</td>
        <td>Audioplus</td>
      </tr>
      <tr>
        <td>Name of the Bank & Branch</td>
        <td>HDFC Bank Ltd, Seshadripuram</td>
      </tr>
      <tr>
        <td>Bank Account Number</td>
        <td>03672020000887</td>
      </tr>
      <tr>
        <td>Type of Account</td>
        <td>Current Account</td>
      </tr>
      <tr>
        <td>IFSC Code</td>
        <td>HDFC0000367</td>
      </tr>
      <tr>
        <td>MICR Code</td>
        <td>560240018</td>
      </tr>
      </tbody>
    </table>
  <%end%>

  <% if !@quotation.is_a_complete_invoice? %>
    <% if !@quotation.tac.nil? %>
      <ul class="tac">
        <strong>Terms and Conditions:</strong>
        <% @quotation.tac.each do |t| %>
          <li><%= t %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <br>
  <p>For Audio Plus</p>
</div>
