<div class="printLeft"><%= image_tag 'ap.jpg', :width => '63%'%></div>
<div>
  <p class="printLeft printRight">
    U-26, 3rd Cross, Pipeline,<br/>
    Krishnappa Block, Malleshwaram,<br/>
    Bangalore - 5600 03<br/>
    Tele Fax: 080 23567619, Cell: 98802 73773<br/>
    Email: audioplus.events@gmail.com
  </p>
</div>
<p><hr class="hr"></p>

<h2 style="text-align: center; font-size: 17px;"><b>
  <%=get_header_for_quotation(@quotation)%>
</b></h2>

<div class="">
  <div class="printLeft">
    <% if @quotation.is_a_complete_invoice? %>
      Invoice No: <%= @quotation.invoice_number %>
      <br/>
    <% else %>
      <%#
        # No need to show quotation number for now
        #Quotation No: <%= @quotation.id %>
      <br/>
    <% end %>
    To:
      <b><%= @quotation.client.company_name %></b>,<br/>
      <%= @quotation.client.address %>
  </div>
  <div >
    <p class="printLeft printRight">
      Date: <%= display_date(self.get_display_date) %><br/>
      Event Date: <%= display_date(@quotation.event_date) %><br/>
      Venue: <%= @quotation.venue %>
    </p>
  </div>
</div>
<br/>

<% if @quotation.is_a_complete_invoice? %>
  <p style="float: left; font-size: 11px;"> Service Tax Number : AKAPP9970EST001 </p>
<%end%>

<div class="">
  <table class="printInvoiceTable table-bordered table-striped" style="width: 100%">
    <thead>
    <tr>
      <th>Sl. No.</th>
      <th>Particulars</th>
      <th>Quantity</th>
      <th>Days</th>
      <th>Price</th>
    </tr>
    </thead>

    <tbody>
    <% @quotation.item_details.sort_by{|i| i[:created_at]}.each_with_index do |item_detail, index| %>
      <tr>
        <td class="alignCenter"><%= index + 1 %></td>
        <td><%= item_detail.particulars %></td>
        <td class="alignCenter"><%= item_detail.quantity %></td>
        <td class="alignCenter"><%= item_detail.days %></td>
        <td class="alignRight"><%= number_with_precision(item_detail.price, :precision => 2) %></td>
      </tr>
    <% end %>
    <tr>
      <td></td><td><strong>Total:</strong></td><td></td><td></td>
      <td class="alignRight"><b><%= number_with_precision(@quotation.total_item_price, :precision => 2) %></b></td>
    </tr>
    <% if @quotation.is_a_complete_invoice? %>
        <tr>
          <td></td>
          <td>Service Tax @ 12%</td>
          <td></td><td></td>
          <td class="alignRight"><%= @quotation.service_tax_at_12_percent %></td>
        </tr>
        <tr>
          <td></td>
          <td>Education Cess @ 2% (On S.T)</td>
          <td></td><td></td>
          <td class="alignRight"><%= @quotation.education_cess %></td>
        </tr>
        <tr>
          <td></td>
          <td>Sec. & Higher Edu. Cess @ 1% (On S.T)</td>
          <td></td><td></td>
          <td class="alignRight"><%= @quotation.higher_education_cess %></td>
        </tr>
        <tr>
          <td></td><td><strong>Total with taxes:</strong></td><td></td><td></td>
          <td class="alignRight"><b><%= number_with_precision(@quotation.total_price, :precision => 2) %></b></td>
        </tr>
    <% end %>
    </tbody>
  </table>
  <p class="printRight">Rupees: <%= @quotation.total_price.to_i.rupees%></p>
  <br>

  <% if params[:print_bank] == 'true' && @quotation.is_a_complete_invoice?%>
    <strong style="font-size: 11px">Account Details for NEFT or RTGS</strong>
      <table class="printInvoiceTable table-bordered" style="width: 100%">
      <tbody>
      <tr>
        <td>Account Name</td>
        <td>Audioplus</td>
      </tr>
      <tr>
        <td>Name of the Bank & Branch</td>
        <td>HDFC Bank Ltd, Seshadripuram</td>
      </tr>
      <tr>
        <td>Bank Account Number</td>
        <td>03672020000887</td>
      </tr>
      <tr>
        <td>Type of Account</td>
        <td>Current Account</td>
      </tr>
      <tr>
        <td>IFSC Code</td>
        <td>HDFC0000367</td>
      </tr>
      <tr>
        <td>MICR Code</td>
        <td>560240018</td>
      </tr>
      </tbody>
    </table>
  <%end%>

  <% if !@quotation.is_a_complete_invoice? %>
    <% if !@quotation.tac.nil? %>
      <ul class="tac">
        <strong>Terms and Conditions:</strong>
        <% @quotation.tac.each do |t| %>
          <li><%= t %></li>
        <% end %>
      </ul>
    <% end %>
  <% end %>
  <br>
  <p class="printLeft">
    For Audio Plus<br/><br/><br/></br>
    Authorized Signatory
  </p>
</div>
