<!DOCTYPE html>
<html>
<head>
  <title>Audioplus</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div class='row'>
  <div class='col-md-offset-2 col-md-8 main'>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="col-md-offset-2 col-md-8">
        <ul class="nav navbar-nav">
          <li>
            <%= link_to(root_path) do %>
              <span class="glyphicon glyphicon-home"></span>
            <% end %>
          </li>
          <% if user_signed_in? %>
            <li><%= link_to 'Clients', clients_path %></li>
            <li><%= link_to 'Payments', payments_path %></li>
            <li><%= link_to 'Calendar', :controller => 'calendar', :action => :index %></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <li>
                <%= link_to(destroy_user_session_path, :method => :delete) do %>
                  <span class="glyphicon glyphicon-log-out"></span>
              <% end %>
              </li>
            </ul>
          <% end %>
          </div>
    </nav>
    <%= yield %>
  </div>
</div>
</body>
</html>