<!DOCTYPE html>
<html>
<head>
  <title>Audioplus-Stage</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %> rest-of-the-world'>
<div class='row'>
  <div class='col-md-offset-2 col-md-8 main'>
    <%= render 'fragments/navigation'%>
    <%= yield %>
  </div>
</div>
</body>
</html>