<!DOCTYPE html>

<html>
<head>
  <title>Audioplus</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <!--<%= javascript_include_tag "application", "data-turbolinks-track" => true %> Not working in windows-->
  <%= csrf_meta_tags %>
</head>
<body class='<%= controller.controller_name %>'>
<div class='col-md-8 col-md-offset-2'>
  <!--<div class="col-md-9">-->
    <!--<h1>Audio Plus</h1>-->
  <!--</div>-->
  <!--<div class="col-md-3">-->
    <!--U-26, 3rd Cross, Pipeline,<br/>-->
    <!--Krishnappa Block, Malleshwaram,<br/>-->
    <!--Bangalore - 560003,<br/>-->
    <!--Tele Fax: 080 - 23567619,<br/>-->
    <!--Cell: 9880273773,<br/>-->
    <!--Email: audioplus.events@gmail.com<br/><br/>-->
  <!--</div>-->
  <br><br>

  <hr/>

  <%= yield %>
</div>
</body>
</html>